.h3{
    @apply text-[20px] text-[#222] font-semibold;
    @apply pb-2;
}

/* Listing Hero part */
.list_hero{
    background-image: url("../assets/img/testAssets/unsplash_MP0bgaS_d1c.webp");
    @apply flex justify-center text-center flex-col w-[100%] h-[75vh] p-[14px] mt-[1px];
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.list_hero h2 {
    @apply w-[45%] ml-auto mr-auto;
}

.list_hero h2, .list_hero p{
    @apply text-[#fff];
}

.options_row{
    @apply flex justify-between items-center mt-12 mx-14 gap-28 mb-40;
}

.options_col{
    @apply flex flex-col m-auto;
}

.options_info img{
    @apply w-fit m-auto;
}

.options_info h3{
    @apply text-[#093C80] text-center mt-5;
}
.options_info h2{
    @apply text-[#000] text-[35px] font-bold text-center mt-5;
}

.options_info p{
    /* @apply text-[#163967] font-medium text-[13px] break-words; */
    @apply text-gray-600 font-medium text-[13px] break-words;
}

.options_info button{
    @apply bg-[#093C80] w-[100%] text-[#fff] my-5;
}

.options_info .btn_cos{
    @apply bg-gray-200 w-[100%] text-gray-500 my-5;
}



.options_info button:hover{
    @apply bg-blue-500 w-[100%] text-[#fff];
}

.footer{
    @apply bg-[#132B58] py-10;
}

.footer_logo{
    @apply flex justify-center items-center; 
}

.footer_logo .logo{
    @apply flex items-center text-[#554747] gap-1;
    @apply text-blue-500;
    @apply bg-white py-1 px-5 rounded-md mb-5;
}
.footer_logo .logoText{
    @apply text-[12px] font-semibold;
}

.navbar{
    @apply flex items-center justify-center;
}

ul li{
    @apply py-0 px-5;
    color: #fff;
    @apply hover:text-blue-500;
    position: relative;
}

ul .active{
    @apply text-blue-500;
}


/* Pagination part */
.pagination{
    @apply text-center;
}

.pagination .pagination_link{
    @apply bg-[#800080] py-3 px-5 rounded font-semibold text-[#fff] mr-1;
}

@media only screen and (max-width: 600px) {
    .pagination {
        margin-top: 0; 
    }
}